
%rebase ('osnova.html', naslov='Datum leta', navigator='/ datumLeta')
<body>
<script type="text/javascript" language="javascript">

    window.onload = function() {
        let today = new Date().toISOString().substr(0, 10);
        let date = document.querySelector("#date");
        date.value = today;
        date.min = today;
    }

</script>

<h1>Datum potovanja</h1>

<p>
Izberite datum potovanja za izbrano relacijo {{odhod}} ---> {{prihod}} :
</p>

<br>
<div id="datum">
    <fieldset style="width:150px;">
    <form id="formDatum" method="GET" action="/novPotnik">
        Izberite datum za odhod:<br>
        <input id=date type="date" name="datum">
        <input type="submit">
        <input type="hidden" name="odhodnoLetalisce" value="{{odhodnoLetalisce}}" />
        <input type="hidden" name="prihodnoLetalisce" value="{{prihodnoLetalisce}}" />
        <input type="hidden" name="IDleta" value="{{IDleta}}" />
        </form>
    </fieldset>
</div>

</body>
