%rebase ('osnova.html', naslov='PyJet - Destinacije', navigator='/')
<div>
  <div class="vsebina1">
	<img src="/static/slike/ljubljana.jpg" alt="Ljubljana" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/vienna.jpg" alt="Dunaj" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/dubrovnik.jpg" alt="Dubrovnik" width="350" height="300">

  </div>

  <div class="vsebina">
	<img src="/static/slike/crete.jpg" alt="Kreta" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/rome.jpg" alt="Rim" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/madrid.jpg" alt="Madrid" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/dubai.jpg" alt="Dubai" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/doha.jpg" alt="Doha" width="350" height="300">
  </div>

  <div class="vsebina">
	<img src="/static/slike/istanbul.jpg" alt="Istanbul" width="350" height="300">
  </div>
</div>
