%rebase ('osnova.html', naslov='PyJet - Destinacije', navigator='/')
<div>
  <div class="vsebina1 vrstica">
	<img class="slika" src="/static/slike/ljubljana.jpg" alt="Ljubljana">
      <div>
      <h3>Ljubljana</h3>
      <p>
          Ena izmed najmanjših evropskih prestolnic lahko obiščete v vseh letnih časih in zmeraj doživite novo zgodbo.
          Mešanica moderne in srednjeveške arhitekture, grad na vzpetini nad mestom in številni muzeji so le delček vsega,
          kar vas čaka v tem pisanem mestu. Ob tem ne pozabite na izrvstne kulinarične doživljaje in pestro nočno življenje.
          Ljubljana je obenem tudi odlično mesto za iskanje poslovnih priložnosti.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/vienna.jpg" alt="Dunaj">
      <div>
      <h3>Dunaj</h3>
      <p>
          Avstrijska prestolnica, najbolj poznana po svoji značilni arhitekturi in odličnih koncertih klasične glasbe,
          je zmeraj dobra ideja za potovanje, pa naj bo to vikend oddih ali dnevni izlet na decembrske stojnice.
          Za tiste, ki želijo potovati malo dlje, je Dunaj prikladna izhodiščna točka.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/dubrovnik.jpg" alt="Dubrovnik">
      <div>
      <h3>Dubrovnik</h3>
      <p>
          Na skrajnem jugu Hrvaške se nahaja pravi biser Jadranskega morja, ki navdušuje tako zgodovinske kot tudi filmske
          navdušence, potapljače in tudi zaprisežene poleževalce na plaži. Poleg glavnih znamenitosti lahko v okolici najdete
          še veliko skritih kotičkov.
      </p>
          </div>

  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/crete.jpg" alt="Kreta">
      <div>
      <h3>Kreta</h3>
      <p>
          Zgodovinski biser, ki se lahko pohvali z enimi izmed najlepših plaž v Sredozemlju, je prava izbira za
          ljubitelje poletja in zabav. Za tiste, ki imate raje bolj mirne destinacije in zmernejše temperature,
          pa se obisk priporoča v jesenskih ali spomladanskih mesecih. V nobenem primeru vas Kreta ne pusti ravnodušnih.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/rome.jpg" alt="Rim">
      <div>
      <h3>Rim</h3>
      <p>
          Ostanki mogočnega imperija na vsakem koraku, butične restavracije z lokalno hrano in čisto poseben utrip mesta
          so dovolj, da vsakega prepričajo za obisk tega velikega mesta vsaj enkrat v življenju. Že samo sprehod po mestu
          podnevi ali v večernih urah zagotavlja nepozabljivo doživetje.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/madrid.jpg" alt="Madrid" >
      <div>
      <h3>Madrid</h3>
      <p>
          Španska prestolnica, ki obiskovalcu nudi vse od odličnih muzejev, zgodovinskih palač pa tja do nočnih tržnic
          in obleganih nočnih klubov. Če se poleg obiska mesta odločite še za kakšen izlet v okoliške vasice, vas čaka
          prijetno presenečenje.
      </p>
          </div>

  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/dubai.jpg" alt="Dubai">
      <div>
      <h3>Dubai</h3>
      <p>
          Popolno nasprotje klasičnih evropskih prestolnic. V Dubaiju ne boste občudovali zgodovinskih palač, bo pa
          na vsakem koraku v vašem vidnem polju zrastel nov nebotičnik. Mesto v Združenih Arabskih Emiratih zadnja leta
          privablja številne obiskovalce s svojo ekstremno moderno arhitekturo, ogromnimi nakupovalnimi središči in
          luksuznimi hoteli.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/doha.jpg" alt="Doha">
      <div>
      <h3>Doha</h3>
      <p>
          Moderna prestolnica Katarja s temperaturami nad 20° vsak dan v letu vabi na obisk nakupovalnih središč in
          prestižnih hotelov, pa tudi na iskanje poslovnih priložnosti ali zgolj na umik
          pred hladnimi zimskimi temperaturami.
      </p>
          </div>
  </div>

  <div class="vsebina vrstica">
	<img class="slika" src="/static/slike/istanbul.jpg" alt="Istanbul">
      <div>
      <h3>Istanbul</h3>
      <p>
          Brezčasno turško mesto z neskončnimi bazarji in prelepo islamsko arhitekturo je odlična izbira katerikoli
          čas v letu. Primerno je za izhodišče nadaljnjega raziskovanja Turčije ali kot odskočna deska za daljša
          potovanja v prav vsak del sveta.
      </p>
          </div>
  </div>
</div>
