%rebase ('osnova.html', naslov='PyJet', navigator='/')

<div class="naslov_strani">
    Destinacija
</div>

<div id="destinacija" class="vrstica">
    <span class="napis">Izberi odhodno letališče:</span>
    <form id="formOdhod" method="POST">
        <select id="izberiOdhod" name="odhodnoLetalisce" width="50" autofocus required>
            %for mesto in odhodnaLetalisca:
                <li>
                    <option value={{mesto}} {{!'selected="selected"' if mesto == get('izbranoLetalisce', '') else ""}}>{{mesto}}</option>
                </li>
            %end
        </select>
    </form>

    <form id="formDestinacija" method="POST">
        <select name="prihodoLetalisce" style="max-width:90%;" required {{!'disabled' if not get('prihodoLetalisceOmogoceno', False) else ''}}>
            %for mesto in prihodnaLetalisca:
                <li>
                    <option value={{mesto}}>{{mesto}}</option>
                </li>
            %end
        </select>
        <button type="submit" disable>Potrdi</button>
    </form>
</div>
