<!DOCTYPE html>
<head>
<title>PyJet Airline</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="osnovni_stil.css">
</head>
<body id="glavni_ozadje">
<ul class="glavni_menu opcije">
  <li><a href="podjetje.html" target="glavni_okvir_a">O podjetju</a></li>
  <li><a href="udobje.html" target="glavni_okvir_a">Za vaše udobje</a></li>
  <li><a id="destinacija" href="destinacije.html" target="glavni_okvir_a">Destinacije</a></li>
  <li><a href="rezervacije.htm" target="glavni_okvir_a">Rezervacija leta</a></li>
</ul>

<iframe id="glavni_okvir" height="700px" width="70%" src="destinacije.html" name="glavni_okvir_a">
</iframe>

</body>
</html>
