%rebase ('osnova.html', naslov='PyJet - Za vaše udobje', navigator='/')

<div class="opis">
    <fieldset style="width:300px" autofocus required>
    <legend>Informacije o rezervaciji:</legend>
            Referenčna številka: <input type="text" value="{{refSt}}" ><br>
            <br>
            Ime: <input type="text" value="{{ime}}" ><br>
            Priimek: <input type="text" value="{{priimek}}" ><br>
            EMŠO: <input type="text" value="{{emso}}" ><br>
            <br>
            Datum Leta: <input type="text" name="datumLeta" value="{{datumLeta}}" ><br>
            Ura Leta: <input type="text" name="uraLeta" value="{{uraLeta}}" ><br>
            Odhodno letališče: <input type="text" name="odhodnoLetalisce" value="{{odhodnoLetalisce}}" ><br>
            Prihodno letališče: <input type="text" name="prihodnoLetalisce" value="{{prihodnoLetalisce}}" ><br>
     </fieldset>
    
</div>