%rebase ('osnova.html', naslov='PyJet - Za vaše udobje', navigator='/')

<div class="opis">
<h1>Informacije o rezervaciji za referenčno številko "{{refSt}}"</h1>
    <form>
    <fieldset style="width:300px;" autofocus required>
    <legend>Potnik:</legend>
            Ime: <br>  <input readonly type="text" value="{{ime}}" ><br>
            Priimek: <br> <input readonly type="text" value="{{priimek}}" ><br>
            EMŠO: <br> <input readonly type="text" value="{{emso}}" ><br>
            <br>
    </fieldset>
    
    <fieldset style="width:300px;" autofocus required>
    <legend>Informacije o rezerviranem letu:</legend>
            Datum Leta:<br>
            <input readonly type="text" name="datumLeta" value="{{datumLeta}}" ><br>
            Ura Leta: <br>
            <input readonly type="text" name="uraLeta" value="{{uraLeta}}" ><br>
            <br>
            Odhodno letališče: <input readonly type="text" name="odhodnoLetalisce" value="{{odhodnoLetalisce}}" ><br>
            Prihodno letališče: <input readonly type="text" name="prihodnoLetalisce" value="{{prihodnoLetalisce}}" ><br>
     </fieldset>
     </form>
    
</div>