%rebase ('osnova.html', naslov='PyJet - Rezervacija', navigator='/')

<head>
  <script language="JavaScript">
    window.onload = function() {
        document.getElementById("izberiOdhod").onchange = function()
        {
            var formOdhod = document.getElementById("formOdhod");
            formOdhod.submit();
        };
    };
  </script>
</head>
<body class="">
<h1>Destinacija</h1>

<div id="destinacija" class="vrstica">
    <fieldset>
    <form id="formOdhod" method="POST">Izberi odhodno letališče:<br>

        <select id="izberiOdhod" name="odhodnoLetalisce" style="width:150px;" autofocus required>
            %for mesto_id, mesto in odhodnaLetalisca:
                <li>
                    <option value={{mesto_id}} {{!'selected="selected"' if mesto_id == get('izbranoLetalisce', -1) else ""}}>{{mesto}}</option>
                </li>
            %end
        </select>
    </form>
    </fieldset>

    <fieldset>
    <form id="formDestinacija" method="GET" action="/datumLeta">Izberi prihodno letališče:<br>
        <input type="hidden" name="odhodnoLetalisce" value={{get('izbranoLetalisce', -1)}} />

        <select name="prihodnoLetalisce" style="width:150px;" required {{!'disabled' if not get('prihodnaLetaliscaOmogoceno', False) else ''}}>
            %for mesto_id, mesto in prihodnaLetalisca:
                <li>
                    <option value={{mesto_id}}>{{mesto}}</option>
                </li>
            %end
        </select>
    </form>
    </fieldset>
    <button onClick="formDestinacija.submit()" {{!'disabled' if not get('prihodnaLetaliscaOmogoceno', False) else ''}}>Potrdi</button>
</div>

</body>
