%rebase ('osnova.html', naslov='Nov potnik', navigator='/ novPotnik')

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<h1>Vnesi podatke o potniku</h1>
<div>
    <form method="post" action="/dodaj">
        <fieldset class="glava" style="width:150px; border:0px" autofocus required>
            Ime: <input type="text" name="ime" value="{{ime}}"/><br>
            Priimek: <input type="text" name="priimek" value="{{priimek}}"/><br>
            EMŠO: <input type="text" name="emso" value="{{emso}}"/><br>
            Država: <select name="drzava_id" style="width:150px;">
                        %for drzava_id, drzava in drzave:
                            <li>
                                <option value={{drzava_id}} {{!'selected="selected"' if drzava_id == get('izbranaDrzava', -1) else ""}}>{{drzava}}</option>
                            </li>
                        %end
                    </select><br>
            Email: <input type="text" name="email" value="{{email}}"/><br>
        </fieldset>
		
		%if napaka is not None:
		<div class="vrstica napaka">
		Napaka: {{napaka}}
		</div>
		%end

        <input type="hidden" name="datumLeta" value="{{datumLeta}}"/>
        <input type="hidden" name="prihodnoLetalisce" value="{{prihodnoLetalisce}}"/>
        <input type="hidden" name="odhodnoLetalisce" value="{{odhodnoLetalisce}}"/>
        <input type="hidden" name="IDleta" value="{{IDleta}}"/>
        <input type="hidden" name="IDurnika" value="{{IDurnika}}"/>


        <fieldset class="gumb_dodaj" style="width:150px;border:0px" autofocus required>
            <input type="submit" value="Dodaj" name="dodaj" class="gumbi"/>
        </fieldset>
    </form>
</div>