%rebase ('osnova.html', naslov='Nov potnik', navigator='/ novPotnik')

    <div class="naslov_strani">
       Vnesi podatke o potniku
    </div>
    
    <div class="vrstica">
      <form method="post" action="/dodaj">
                <fieldset class="glava" style="width:150px; border:0px" autofocus required>
                  Ime: <input type="text" name="ime" value="{{ime}}"/><br>
                  Priimek: <input type="text" name="priimek" value="{{priimek}}"/><br>
                  EMŠO: <input type="text" name="emso" value="{{emso}}"/><br>
                  Država: <input type="text" name="drzava" value="{{drzava}}"/><br>
                  Email: <input type="text" name="email" value="{{email}}"/><br>
                </fieldset>
                
                
                <fieldset class="gumb_dodaj" style="width:150px;border:0px" autofocus required>
                  <input type="submit" value="Dodaj" name="dodaj" class="gumbi"/>
                </fieldset>
      </form>
    </div>
    
    </div>
    %if napaka is not None:
    <div class="vrstica napaka">
    Napaka: {{napaka}}
    </div>
    %end