%rebase ('osnova.html', naslov='Opravljena rezarvacija', navigator='/ opravljenaRezervacija')

    <h1>
       Rezervacija je uspešno opravljena!
    </h1>
    
    <p>
        Podatki o rezervaciji :
    </p>
    <div>
        <form>
          <fieldset style="width:300px" autofocus required>
            <legend>Podatki o potniku:</legend>
            Ime: <input type="text" value="{{ime}}" ><br>
            Priimek: <input type="text" value="{{priimek}}" ><br>
            EMŠO: <input type="text" value="{{emso}}" ><br>
            Država: <input type="text" value="{{drzava}}" ><br>
            Email: <input type="text" value="{{email}}" ><br>
          </fieldset>
          
          <fieldset style="width:300px">
            <legend>Podatki o rezerviranem letu:</legend>
            Datum Leta: <input type="text" name="datumLeta" value="{{datumLeta}}" ><br>
            Odhodno letališče: <input type="text" name="odhodnoLetalisce" value="{{odhodnoLetalisce}}" ><br>
            Prihodno letališče: <input type="text" name="prihodnoLetalisce" value="{{prihodnoLetalisce}}" ><br>
          </fieldset>
        </form>
                
        <fieldset style="width:500px">
        <legend> Referenčna številka rezerviranega leta:</legend>
        Referenčna številka:<input type="text" name="referencnaSt" value="{{referencnaSt}}" ><br>
        <br>
        S pomočjo izpisane referenčne številke boste lahko na uvodni strani 
        preverili informacije o rezerviranem letu.<br>  
        <br>
        <input type="submit" value="PoŠlji">
        </fieldset>
        
    </div>
