<html>
<head>
    <title>{{naslov}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/osnovni_stil.css">
</head>
<body>

<div>
    <ul class="glavni_menu opcije">
        {{!glavni_menu}}
    </ul>
    <div>
        <div id="glavni_okvir">
            {{!base}}
        </div>
    </div>
</div>
<!-- Navigator  -->
<div class="navigator">{{navigator}}</div>


</body>
</html>
