<html>
<head>
  <title>{{naslov}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="/static/banka.css" rel="stylesheet">
  <script language="JavaScript">
    window.onload = function() {
        document.getElementById("izberiOdhod").onchange = function()
        {
            var formOdhod = document.getElementById("formOdhod");
            formOdhod.submit();
        };
    };
  </script>

</head>
<body>
    <!-- Navigator  -->
    <div class="navigator">{{navigator}}</div>

    {{!base}}
</body>
</html>
