%rebase ('osnova.html', naslov='PyJet - O Podjetju', navigator='/')

<div id="opis_podjetja">
    <h1>Letalska družba PyJet</h1>
    <hr>
    <p><i>PyJet Airlines</i> je najmlajša privatna letalska družba v Sloveniji, ki je nastala komaj konec leta 2017, vendar smo
        že uspeli prepričati naše potnike, da se za svoja bodoča zasebna ali poslovna potovanja znova vračajo k nam.
        Naša temeljna vizija je zagotavljati vsakemu našemu potniku ne samo zadovoljivih, temveč nadstandarndne storitve
        v procesu rezervacije letov in seveda na samem potovanju.</p>
    <p>Več o udobju naših letal in luksuznih storitvah si lahko preberete na “Naše storitve za vaše udobje”.</p>
    <p>Podjetje je registrirano v Sloveniji, kjer se nahaja tudi naša glavna pisarna in zato so vsi naši leti
        organizirani iz Ljubljane ter nazaj, pri čemer izbira povratnega leta ni obvezna. Vabljeni na ogled naših ekskluzivnih destinacij na “Destinacije”.
        Za nemoteno in hitro opravljanje rezervacij najdete na zavihku “Rezervacije” formular, kjer si lahko izbrete
        odhodno in ustrezno prihodno letališče, datum odhoda in obrazec za vnos vaših osebnih podatkov.</p>
     <p>Osebje letalske družbe PyJet vabi vse, ki si želijo brezskrbnega uživanja na potovanju do svoje destinacije,
         da se jim pridružite na krovu naših luksuznih in nadstandardno opremljenih letal.</p>
</div>