%rebase ('osnova.html', naslov='PyJet - Za vaše udobje', navigator='/')

<div class="opis">
    <h1>Naše storitve za vaše udobje</h1>
    <hr>
    <p>Naše podjetje razpolaga s petimi različnimi tipi letal, ki smo jih s specifičnimi konfiguracijami  izbrali glede
        na povpraševanje za določene destinacije.
    </p>
        <ul style="color:white">
            <li>HondaJet s petimi sedeži leti na relaciji Ljubljana-Dunaj in Ljubljana-Dubai</li>
            <li>Falcon z 20-imi sedeži leti na relaciji Ljubljana-Dubrovnik in Ljubljana-Doha</li>
            <li>Challenger 605 z 20-imi sedeži leti na relaciji Ljubljana-Kreta in Ljubljana-Istanbul</li>
            <li>Global3000 s 15-imi sedeži leti na relaciji Ljubljana-Madrid</li>
            <li>Global8000 s 30-imi sedeži leti na relaciji Ljubljana- Rim</li>
        </ul>
    <p>Ker nam je v prvi vrsti najbolj pomembno zadovoljstvo naših potnikov, zagotavljamo vsakodnevne odhode na izbrane
        destinacije ne glede na število potnikov.
    </p>

    <p>Zavedamo se, da boste z nami potovali iz različnih razlogov, zato so sedeži na letalu prilagojeni poslovnim
        uporabnikom z možnostjo uporabe interneta, televizijskih in radijskih kanalov. Med potovanjem za vas skrbi visoko
        usposobljeno osebje, ki vam je na voljo za ponubo vrhunskih jedi in pijač, obenem pa vam pomagajo tudi
        z informacijami o letališčih prihodnih destinacij, rezervacijami hotelov in prevoza.
    </p>

</div>
